{% extends 'base.html.twig' %}

{% block title %}Bienvenido!{% endblock %}

{% block body %}

<div class="text-center">
    <h2 class="text-muted">Tu tienda online de artículos gatunos, donde tu gato se sentirá como en casa!</h2>

    <br>
    <h1><b>Últimos artículos</b> </h1>
</div>


{{render(controller('App\\Controller\\ProductController::latestProducts')) }}

{% endblock %}

{% block javascripts %}
{% endblock %}
