{% extends 'base.html.twig' %}

{% block title %}magiCatWorld{% endblock %}

{% block body %}

<div class="text-center">
    <h1 class="mt-5"><b>¡Bienbenido a tu tienda de artículos para gatos preferida!</b> </h1>
</div>

{% include '_includes/blocks/cat-description.html.twig' %}

{{render(controller('App\\Controller\\ProductController::latestProducts',{'nprods' : 12})) }}



{% if loginError is defined %}
{{render(path('ajax-login-error')) }}
{% endif %}

{% if loginTrue is defined %}
{{render(path('ajax-login-success')) }}
{% endif %}

{% if logout is defined %}
{{render(path('ajax-logout'))}}
{% endif %}

{% endblock %}

{% block javascripts %}
{% endblock %}
