<div class="materialUI-area">
  <div class="materialUI-container">
    <div class="materialUI-email" onclick="this.classList.add('materialUI-expand')">
      <div class="materialUI-from">
        <div class="materialUI-from-contents">
          <div class="materialUI-avatar materialUI-me"></div>
          <div class="materialUI-name">Inicio de sesión</div>
        </div>
      </div>
      <div class="materialUI-to">
        <div class="materialUI-to-contents">
          <div class="materialUI-top">
            <div class="materialUI-avatar-large materialUI-me"></div>
            <div class="materialUI-name-large">Inicie sesión con su cuenta de magiCatWorld</div>
            <div class="materialUI-x-touch" onclick="document.querySelector('.materialUI-email').classList.remove('materialUI-expand');event.stopPropagation();">
              <div class="materialUI-x">
                <div class="materialUI-line1"></div>
                <div class="materialUI-line2"></div>
              </div>
            </div>
          </div>
          <div class="materialUI-bottom">
            <div class="materialUI-row">
              <form>
                <fieldset>
                  <legend>Iniciar sesión con su cuenta de magiCatWorld</legend>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                </fieldset>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
