<div class="admin-header">
	<div class="content">
		<div class="row" style="margin: auto">
			<div class="col">
				<p class="ml-3 py-1"><b>Panel de admin || admin: {{app.user.name}}</b>
			</div>
			<div class="col-12 col-sm-auto mt-2">
				{% set currentRoute = path(app.request.attributes.get('_route')) %}
				<p><a href="{{path('go-back',{'currentRoute' : currentRoute})}}">
					<button class="btn btn-secondary btn-lg">Volver <i class="fas fa-undo"></i></button>
				</a></p>
			</div>
		</div>
	</div>

</div>
