<div class="footer">
    <ul class="footer-options">
      <li><a href="#">Quienes somos</a></li>|
      <li><a href="#">Contacto</a></li>|
      <li><a href="#">Cesta</a></li>
    </ul>

    <div class="footer-copyright">
      magiCatWorld es una marca no registrada © 2020
    </div>
</div>
