<div class="footer">
    <ul class="footer-options">
      <li><a href="{{path('information')}}">Quienes somos</a></li>|
      <li><a href="{{path('contactform')}}">Contacto</a></li>|
      <li><a href="{{path('cesta')}}">Cesta</a></li>
    </ul>

    <div class="footer-copyright">
      magiCatWorld es una marca no registrada © 2020
    </div>
</div>
