{% set currentPath = path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')) %}

<div class="header">
  <img class="logo" src="{{asset('assets/img/logo.png')}}">
  <div class="mcworld-nav">
    {{render(controller('App\\Controller\\HomeController::navbar', {'currentPath': currentPath})) }}
  </div>
</div>
