<div class="container my-5 z-depth-1">


  <!--Section: Content-->
  <section class="dark-grey-text">

    <div class="row pr-lg-5">
      <div class="col-md-7 mb-4">

        <div class="view small-image">
          <img src="{{asset('/assets/img/welcome-cats.png')}}" class="img-fluid ">
        </div>

      </div>
      <div class="col-md-5 d-flex align-items-center">
        <div>

          <h3 class="font-weight-bold mb-4">Nuestra motivación</h3>

        	<p>
				Somos una empresa en la cual amamos a nuestros amigos felinos.
				Mientras que cualquiera puede ganarse el afecto de un perro,
				es mucho más difícil conseguir lo mismo de un gato.
				Son animales que no se compran con comida, ni mucho menos;
				requieren cariño constante, y grandes dosis de mimos y de comprensión,
				así como de juego.
			</p><p>
				Los juegos de los gatos, además,
				pueden llegar a ser incluso dolorosos para los humanos,
				pero siempre serán divertidos.
				Pero de nada sirve compararlos realmente,
				puesto que hablamos de dos especies totalmente diferentes.
			</p><p>
				Puede que hayáis oído mil y una historias sobre perros abandonados
				que han decidido esperar a sus dueños durante años y años, pero...
				¿Sabíais que hay gatos que hacen exactamente lo mismo? En Rusia,
				en Belgorod, un gato se hizo famoso hace tiempo porque permaneció
				meses en la calle esperando a sus dueños, que le habían abandonado.
				Hubo quien aseguró que había visto cómo el gato, desesperado,
				trató de correr tras el vehículo de sus dueños, pero no lo consiguió.
				Muchos vecinos continuaron alimentándolo, apenados por lo que había pasado.
			</p><p>
				Los gatos sí que son fieles,
				y por supuesto que aman a sus dueños por encima de todas las cosas.
				Diferente es que, ciertamente,
				tienen una forma un poco peculiar de mostrarlo en cada momento.
			</p>

        	<a href="https://es.wikipedia.org/wiki/Felis_silvestris_catus"><button type="button" class="btn btn-orange btn-rounded mx-0">Wikipedia sobre los gatos</button></a> 

        </div>
      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
