<div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 dark-grey-text text-center">

      <!--Grid row-->
      <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-lg-8">
            <p>Los gatos son mascotas muy obstinadas que adoran la comodidad. Crear las condiciones de vida óptima para estos animales resulta interesante y agradable. Los productos para gatos de calidad le ayudarán a hacer que su mascota sea feliz. Y esta le premiará con un ronroneo agradecido.</p>

          <!--Grid row-->
          <div class="row">

            <!--First column-->
            <div class="col-md-3 col-6 mb-4">
              <img class="img-fluid" src="{{asset('/assets/img/cat3.png')}}">
            </div>
            <!--/First column-->

            <!--Second column-->
            <div class="col-md-3 col-6 mb-4">
              <img class="img-fluid" src="{{asset('/assets/img/cat2.png')}}">
            </div>
            <!--/Second column-->

            <!--Third column-->
            <div class="col-md-3 col-6 mb-4">
              <img class="img-fluid" src="{{asset('/assets/img/cat1.png')}}">
            </div>
            <!--/Third column-->

            <!--Fourth column-->
            <div class="col-md-3 col-6 mb-4">
              <img class="img-fluid" src="{{asset('/assets/img/cat4.png')}}">
            </div>
            <!--/Fourth column-->

          </div>
          <!--/Grid row-->


        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->


  </div>
