<div class=" my-1 py-1 z-depth-1">

  <!--Section: Content-->
  <section class="text-center px-md-5 mx-md-5 dark-grey-text">

	<!--Grid row-->
	<div class="row d-flex justify-content-center">

	  <!--Grid column-->
	  <div class="col-lg-6 my-4">
		  	<div class="blockquote-wrapper">
			  <div class="blockquote">
			    <h1>
					<blockquote>
  				  	<p>El animal que los egipcios adoraron como divino y
  						los romanos veneraron como un símbolo de la libertad,
  						ha mostrado en todas las edades dos características
  						estrechamente ligadas: coraje y auto respeto.</p>
  				  </blockquote>
			     </h1>
			    <h4>&mdash;Steven Pressfield</h4>
			  </div>
			</div>

	  </div>
	  <!--Grid column-->

	  	<!--Grid column-->
	  	<div class="col-lg-6 my-4 view" >
				<img src="{{asset('/assets/img/frase-gato.jpg')}}" class="control-image-up">
		</div>
		<!--Grid column-->
	  </div>

	<!--Grid row-->
  </section>
</div>
  <!--Section: Content-->
</div>

<div class="content mx-5 my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section class="dark-grey-text text-center">

    <div class="row mx-3" style="-webkit-filter: opacity(80%);">
      <div class="col-lg-4 mb-4">

        <div class="view">
          <img src="{{asset('/assets/img/gato1.jpg')}}" class="img-fluid control-image">
        </div>

      </div>
     <div class="col-md-6 col-lg-4 mb-4">

        <div class="view">
          <img src="{{asset('/assets/img/gato2.jpg')}}" class="img-fluid control-image">
        </div>

      </div>
      <div class="col-md-6 col-lg-4 mb-4">

        <div class="view">
          <img src="{{asset('/assets/img/gato3.jpg')}}" class="img-fluid control-image">
        </div>

      </div>
    </div>

  </section>
  <!--Section: Content-->


</div>
