{% if products is defined %}

<style media="screen">
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
.my-bg{
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.2);
    background-blend-mode: exclusion;
    background-size: 100% auto;
}

.my-text {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    color: #f1f1f1;
    height: 200px;
}

.title {
    font-family: 'Kaushan Script', cursive;
}

</style>


<div class="container mt-5">

  <!--Section: Content-->
  <section class="dark-grey-text text-center">
      <div class="container my-bg  mb-5 px-0">

                <h1 class="title">Búscando "{{search}}"</h1>

      </div>

  	<!-- Grid row -->
    <div class="row">

      {% for product in products %}
          {% include "_includes/blocks/product-minicard.html.twig" %}
      {% endfor %}



    </div>
    <!-- Grid row -->

  </section>
  <!--Section: Content-->


</div>
{% endif %}
