*{
  margin: 0;
  padding: 0;
}

html,body{
  position: relative;
}

body{
  min-height: 100vh;
  background-color: #f4f4f4;
}

.main {
  width: 98%;
  margin: 1% 1%;
  padding: 10px;
  border-radius: 5px;
  text-align: justify;
}

.card {
  box-shadow: 2px 2px 5px 0px black;
}
