.footer {
  background-color: #311a1a;
  color: white;
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
}

.footer-pusher {
  height: 100px;
  width: 100%;
}

.footer-options {
  position: relative;
  padding: 15px;
  text-align: center;
}

.footer-options li{
  margin: 10px;
  display: inline;
}

.footer-options a{
  color: white;
}

.footer-options a:hover{
  font-weight: 900;
  text-decoration: none;
}

.footer-copyright{
  color: #5c4343;
  text-align: center;
}
