.header{
  height: 220px;
  position: relative;
  background-color: #933535;
}

.logo{
  padding: 20px;
}

.mcworld-nav{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.mcworld-nav input:focus,input.focus {
  border-color: #b58585;
  -webkit-box-shadow: 0 0 0 0.1rem #b58585;
          box-shadow: 0 0 0 0.1rem #b58585;
}

.bg-primary{
  background-color: #A14343 !important;
  border-color: #933535;
}

.btn-primary{
  background-color: #691f1f !important;
  border-color: #3e1717;
  color: white;
}

.btn-primary:hover{
  background-color: #ad5f5f !important;
  border-color: #882a2a;
}

.btn-primary:focus, .btn-primary.focus {
  border-color: #882a2a;
  -webkit-box-shadow: 0 0 0 0.1rem #b58585;
          box-shadow: 0 0 0 0.1rem #b58585;
}

.login-area{
  padding: 0 10px;
}
