.header{
  height: 175px;
  position: relative;
  background-color: #933535;
}

.logo{
  padding: 20px;
  height: 100px;
}

.mcworld-nav{
  bottom: 0;
  width: 100%;
}

.search-area{
  padding-right: 20px;
}

.mcworld-nav input:focus,input.focus {
  border-color: #b58585;
  -webkit-box-shadow: 0 0 0 0.1rem #b58585;
          box-shadow: 0 0 0 0.1rem #b58585;
}

.bg-primary{
  background-color: #A14343 !important;
  border-color: #933535;
}

.btn-primary{
  background-color: #691f1f !important;
  border-color: #3e1717;
  color: white;
}

.btn-primary:hover{
  background-color: #ad5f5f !important;
  border-color: #882a2a;
}

.btn-primary:focus, .btn-primary.focus {
  border-color: #882a2a;
  -webkit-box-shadow: 0 0 0 0.1rem #b58585;
          box-shadow: 0 0 0 0.1rem #b58585;
}

.dropdown>.dropdown-menu {
  top: 200%;
  transition: 0.3s all ease-in-out;
  pointer-events: auto;
}
.dropdown:hover>.dropdown-menu {
  display: block;
  background-color: #802020;
  top: 100%;
}

.dropdown>.dropdown-toggle:active {
  /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

.nav-item {
  display: flex;
  align-items: center
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
}

.active {
  color: white !important;
}

.login-area-image{
    height: 2em;
    border-radius: 25%;
}

.modal-lines-header {
 border-bottom: 1px dotted #311a1a;
 }

.modal-lines-footer {
 border-top: 1px dotted #311a1a;
}
