{% extends 'base.html.twig' %}

{% block title %}producto{% endblock %}

{% block body %}
<h1 class="text-center my-4"><b>Ficha del producto</b> </h1>
{% include '_includes/blocks/product-card.html.twig' %}

{% endblock %}
