{% extends 'base.html.twig' %}

{% block title %}Búsqueda{% endblock %}

{% block body %}

{% for product in products %}
	<div class="mx-4 my-4">
		{% include '_includes/blocks/products-search.html.twig' with {'product':product} %}
	</div>
{% endfor %}

{% endblock %}
