{% extends 'base.html.twig' %}

{% block body %}


	<div class="row mx-5 py-5 px-5 my-5 bg-secondary" style="width:1300px;">
		<div class="col-12" >
		{{dump(_context)}}
		</div>
	</div>


{% endblock %}

{% block javascripts %}{% endblock %}
